﻿@model  MaterialTracker.ViewModels.Info
@{
    ViewBag.Title = "Item Info";
}

@if (ViewBag.SearchString.Equals(""))
{
    @Html.ActionLink("Back", "Index", "Home", new { ViewBag.fmt }, new { @class = "btn btn-primary", @style = "display: table-cell;" })
}
else
{
    @Html.ActionLink("Back", "Index", "Home", new { ViewBag.SearchString }, new { @class = "btn btn-primary", @style = "display: table-cell;" })
}
<br />

<h1 style="color: #0088e8;">Info For @Model.ItemNumber - @Model.ItemDescription</h1>
<br />

@if (Model.PageType == 1)
{
    <table class="table table-bordered table-condensed table-striped" style="width: 15%; margin: 0 auto;">
        <tr>
            <td colspan="2" style="font-weight: bold; font-size: large;">Storage Locations</td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Location</td>
            <td style="font-weight:bold;">Quantity</td>
        </tr>
        @foreach (var loc in Model.myLocations)
        {
            if (!loc.location_mutli)
            {
                <tr>
                    <td>@loc.location_name</td>
                    <td style="text-align: right;">@loc.location_qty.ToString("#,###.##")</td>
                </tr>
            }
        }
    </table>
    <br />
    <table class="table table-bordered table-condensed table-striped" style="width: 15%; margin: 0 auto;">
        <tr>
            <td colspan="2" style="font-weight: bold; font-size: large;">Consumption Locations</td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Location</td>
            <td style="font-weight:bold;">Quantity</td>
        </tr>
        @foreach (var loc in Model.myLocations)
        {
            if (loc.location_mutli)
            {
                <tr>
                    <td>@loc.location_name</td>
                    <td style="text-align: right;">@loc.location_qty.ToString("#,###.##")</td>
                </tr>
            }
        }
    </table>

}
else if (Model.PageType == 2)
{
    if (Model.myHistoryUsage.Count > 0)
    {
        <table class="table table-bordered table-condensed table-striped" style="width: 44%; display: inline-table;">
            <tr>
                <td colspan="4" style="font-weight: bold; font-size: large;">History Table</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Quantity Change</td>
                <td style="font-weight: bold;">QOH Before</td>
                <td style="font-weight: bold;">QOH After</td>
                <td style="font-weight: bold;">Transaction Date</td>
            </tr>
            @foreach (var His in Model.myHistoryUsage)
            {
                <tr>
                    <td style="text-align: right;">@His.qtychange.ToString("#,###.##")</td>
                    <td style="text-align: right;">@His.qtybefore.ToString("#,###.##")</td>
                    <td style="text-align: right;">@His.qtyafter.ToString("#,###.##")</td>
                    <td style="text-align: right;">@His.transactionDate.ToString()</td>
                </tr>
            }
        </table>
    }

    if (Model.myForecastUsage.Count > 0)
    {
        <table class="table table-bordered table-condensed table-striped" style="width: 55%; display: inline-table;">
            <tr>
                <td colspan="4" style="font-weight: bold; font-size: large;">Forecast Table</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Raw Material Required</td>
                <td style="font-weight: bold;">Schedule Date</td>
                <td style="font-weight: bold;">Finished Good Item</td>
                <td style="font-weight: bold;">Quanity of Finished Good</td>
            </tr>
            @foreach (var Fore in Model.myForecastUsage)
            {
                <tr>
                    <td style="text-align: right;">@Fore.qtyneeded.ToString("#,###.##")</td>
                    <td style="text-align: right;">@Fore.scheduleddate.ToShortDateString()</td>
                    <td>@Fore.FGName</td>
                    <td style="text-align: right;">@Fore.FGRequired.ToString("#,###")</td>
                </tr>
            }
        </table>
    }

}
else if (Model.PageType == 3)
{
    if (Model.myWhereUsed.Count > 0)
    {
        <table class="table table-bordered table-condensed table-striped" style="width: 55%; display: inline-table;">
            <tr>
                <td colspan="4" style="font-weight: bold; font-size: large;">Where Used</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Item Number</td>
                <td style="font-weight: bold;">Item Description</td>
                <td style="font-weight: bold;">Quantity Per</td>
            </tr>
            @foreach (var where in Model.myWhereUsed)
            {
                <tr>
                    <td>@where.ItemNumber</td>
                    <td>@where.ItemDescrip1</td>
                    <td style="text-align: right;">@where.QtyPer.ToString("#,###.####")</td>
                </tr>
            }
        </table>
    }
}


<br /><br />

@*------------------               CSS             -----------------------*@
<style type="text/css">
    @@media {
        .container {
            max-width: inherit !important;
            max-width: 97% !important;
        }
    }

    @@media (min-width: 0px) {
        .container {
            width: auto !important;
        }
    }

    body {
        padding-top: 0px !important;
        font-size: 1.5em !important;
    }

    .table-bordered > tbody > tr > td {
        border: 1px solid #000 !important;
    }

    .navbar-brand {
        color: #777 !important;
        font-size: 18px !important;
    }

    label {
        padding-left: 3px !important;
    }

    .table-bordered {
        border: 1px solid #000000 !important;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: aliceblue !important;
    }

    .table-striped > tbody > tr:nth-of-type(even) {
        background-color: #ffffff !important;
    }
</style>