﻿@model  MaterialTracker.ViewModels.NotesEdit
@{
    ViewBag.Title = "Material Tracker Notes";
}

@if (ViewBag.SearchString.Equals(""))
{
    @Html.ActionLink("Back", "Index", "Home", new { ViewBag.fmt }, new { @class = "btn btn-default" })}
else
{
    @Html.ActionLink("Back", "Index", "Home", new { ViewBag.SearchString }, new { @class = "btn btn-default" })
}

@using (Html.BeginForm("NotesIndex", "Notes", routeValues: new { ViewBag.tblid, ViewBag.fmt, noteid = ViewBag.NoteID, ViewBag.SearchString }, method: FormMethod.Post))
{
    <div class="panel panel-default" style="width: 535px; margin: 0 auto; padding-bottom: @(ViewBag.NoteID != 0 ? "0px;" : "35px;")">
        <div class="panel-heading">
            @(ViewBag.NoteID == 0 ? "New Note" : "Edit Note")
        </div>
        <div class="form-group" style="width: 500px; margin: 0 auto;">
            <br />
            @Html.ValidationMessageFor(x => x.NewNote, null, new { @class = "text-danger" })
            @Html.TextBoxFor(x => x.NewNote, new { @class = "form-control", @placeholder = "New Notes Can Be Entered Here" })
            <hr />
            <p style="text-align: left">
                @if (ViewBag.NoteID != 0)
                {
                    if (ViewBag.SearchString.Equals(""))
                    {
                        @Html.ActionLink("Cancel", "NotesIndex", "Notes", new { ViewBag.fmt }, new { @class = "btn btn-default" })
                    }
                    else
                    {
                        @Html.ActionLink("Cancel", "NotesIndex", "Notes", new { ViewBag.SearchString }, new { @class = "btn btn-default" })
                    }
                }
                <span style="float: right;">
                    <input type="submit" name="submit" id="SaveButton" value="Save" class="btn btn-primary" />
                </span>
            </p>
        </div>
    </div>
}
<br /><br />
<div class="panel panel-default" style="width: 1200px; margin: 0 auto; padding-bottom: 5px;">
    <div class="panel-heading">
        Material Notes
    </div>
    <table class="table table-bordered table-condensed table-striped" style="width: 97%; margin: 0 auto; margin-top: 10px; margin-bottom: 5px;">
        @foreach (var Note in Model.MaterialNotes)
        {
            <tr>
                <td style="width: 2%; padding-top: 10px;">@(Note.Index + ").")</td>
                <td style="padding-top: 10px;">@Note.note</td>
                <td style="width: 5%">@Html.ActionLink("Edit", "EditNote", "Notes", new { @ViewBag.tblid, ViewBag.fmt, noteid = @Note.NoteID, ViewBag.SearchString }, new { @class = "btn btn-primary" })</td>
                <td style="width: 6%">@Html.ActionLink("Delete", "DeleteNote", "Notes", new { @ViewBag.tblid, ViewBag.fmt, @Note.NoteID, ViewBag.SearchString }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </table>
</div>

@*------------------               CSS             -----------------------*@
<style type="text/css">
    @@media {
        .container {
            max-width: inherit !important;
            max-width: 97% !important;
        }
    }

    @@media (min-width: 0px) {
        .container {
            width: auto !important;
        }
    }

    body {
        padding-top: 0px !important;
        font-size: 1.5em !important;
    }

    .table-bordered > tbody > tr > td {
        border: 1px solid #000 !important;
    }

    .navbar-brand {
        color: #777 !important;
        font-size: 18px !important;
    }

    label {
        padding-left: 3px !important;
    }

    .table-bordered {
        border: 1px solid #000000 !important;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #f5f5f5 !important;
    }

    .table-striped > tbody > tr:nth-of-type(even) {
        background-color: #ffffff !important;
    }

    hr {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
</style>
