    .btn-primary {
        color: #d9eef7;
        border: solid 1px #0076a3 !important;
        background: #0095cd;
        background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    }
	
	.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        background: -webkit-gradient(linear, left top, left bottom, from(#16bfff), to(#009fdb)) !important;
	}
	
    .btn-default {
        color: #000;
        border: solid 1px #808080 !important;
        background: #808080;
        background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#808080));
        margin-left: 3px;
        margin-right: 3px;
    }

	.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
        background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#a0a0a0)) !important;
	}
	
	.btn-secondary {
        padding: 0rem .25rem !important;
		background: -webkit-gradient(linear, left top, left bottom, from(#8b9196), to(#6c757d)) !important;
    }

	.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary{
        background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#7c8287)) !important;
	}

	
    #TimeClockObject {
        min-height: 250px;
        width: 100%;
    }

    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: min-content;
        grid-gap: .75em;
    }

	.grid-wrapper-more {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: min-content;
        grid-gap: .75em;
    }

	
	.grid-wrapper > div {
		background: #eee;
		padding: 0.25em;
		/* border: 1px ridge #808080; */
		background: #abd;
	}

	.grid-wrapper > div:nth-child(odd) {
		background: #ddd;
		/* border: 1px ridge #808080; */
		background: #abd38f;
	}

    h6 {
        margin-top: 0;
		border-bottom: solid 1px #000 !important;
    }

    ul.b {
        list-style-type: square;
    }

    ul {
        -webkit-padding-start: 0px !important;
    }

    [id^=EditSubMain] > ul li {
        /* list-style-type: none; */
		text-indent: -14px;
        padding: 2px 5px;
    }
	
	[id^=EditSubMain] > ul {
		margin-left: 20px !important;
    }

	[id^=SubMain] > ul li{
        list-style-type: none;
        padding: 2px 0;
    }
	
    [id^=SubMain] {
        grid-auto-rows: minmax(25px, auto);
    }

    .NestedHeader {
        grid-column: 1/4;
        padding-bottom: 10px;
        padding-top: 5px;
    }

    h1 {
        margin: 0;
        font-size: 32px !important;
    }

    @@media {
        .container {
            max-width: inherit !important;
            max-width: 97% !important;
        }
    }

    .container {
        padding-top: 15px !important;
    }

    .navbar {
        background: lightgrey !important;
    }

	.form-control.test {
		width: 50% !important;
		display: initial;
	}

	.form-control.seventy {
		width: 70% !important;
		display: initial;
	}

	.form-control.fifteen {
		width: 15% !important;
		display: initial;
	}

	
	body {
		line-height: 1.0 !important;
		background-color: #4f4f4f !important;
	}
	
	#myPageTitle {
		color: #0088e8;
		color: #8da8de;
		margin-left: 10px;
	}

	h5 {
		color: #0088e8 !important
	}
	
	a {
		color: black !important;
		font-size: small !important;
	}
	
	p {
		margin-bottom: 0.25rem !important;
	}
	
	.form-control {
		margin-top: 5px;
	}