﻿@model MaterialTracker.ViewModels.MatTrackData
@{
    ViewBag.Title = ViewBag.PageTitle;
}

@*--Add Service like the launch header
    *@

<table style="width: 93%; margin: 0 auto;">
    <tr>
        <td style="width: 3%; padding-left: 2px; padding-right: 2px;">@Html.ActionLink("All", "Index", "Home", new { fmt = 0 }, new { @class = "btn btn-default " + (Convert.ToInt32(ViewBag.Status) == 0 && (Convert.ToInt32(ViewBag.Type) == 0) && Convert.ToInt32(ViewBag.MyWatch) != 100 ? "btn-border" : "") })</td>
        <td width="2%" style="text-align: center; color: antiquewhite;">|</td>
        <td style="width: 5%; padding-left: 2px; padding-right: 2px;">@Html.ActionLink("Good Standing (" + Model.GoodStanding + ")", "Index", "Home", new { fmt = (ViewBag.Status == 10 ? 0 : 10) + ViewBag.Type + ViewBag.MyWatch }, new { @class = "btn btn-success " + (Convert.ToInt32(ViewBag.Status) == 10 ? "btn-border" : "") })</td>
        <td style="width: 5%; padding-left: 2px; padding-right: 2px;">@Html.ActionLink("Watch (" + Model.Watch + ")", "Index", "Home", new { fmt = (ViewBag.Status == 20 ? 0 : 20) + ViewBag.Type + ViewBag.MyWatch }, new { @class = "btn btn-warning " + (Convert.ToInt32(ViewBag.Status) == 20 ? "btn-border" : "") })</td>
        <td style="width: 5%; padding-left: 2px; padding-right: 2px;">@Html.ActionLink("Need To Address (" + Model.NeedToAddress + ")", "Index", "Home", new { fmt = (ViewBag.Status == 30 ? 0 : 30) + ViewBag.Type + ViewBag.MyWatch }, new { @class = "btn btn-danger " + (Convert.ToInt32(ViewBag.Status) == 30 ? "btn-border" : "") })</td>
        <td style="width: 5%; padding-left: 2px; padding-right: 2px;">@Html.ActionLink("No Usage", "Index", "Home", new { fmt = (ViewBag.Status == 40 ? 0 : 40) + ViewBag.Type + ViewBag.MyWatch }, new { @class = "btn btn-default " + (Convert.ToInt32(ViewBag.Status) == 40 ? "btn-border" : "") })</td>
        <td style="width: 5%; padding-left: 2px; padding-right: 2px;">@Html.ActionLink("Blanket PO (" + Model.BlanketPO + ")", "Index", "Home", new { fmt = (ViewBag.Status == 50 ? 0 : 50) + ViewBag.Type + ViewBag.MyWatch }, new { @class = "btn btn-default " + (Convert.ToInt32(ViewBag.Status) == 50 ? "btn-border" : "") })</td>
        <td width="2%" style="text-align: center; color: antiquewhite;">|</td>
        <td style="width: 5%; padding-left: 2px; padding-right: 2px;">@Html.ActionLink("Colorants (" + Model.Colorants + ")", "Index", "Home", new { fmt = (ViewBag.Type == 6 ? 0 : 6) + ViewBag.Status + ViewBag.MyWatch }, new { @class = "btn btn-default " + (Convert.ToInt32(ViewBag.Type) == 6 ? "btn-border" : "") })</td>
        <td style="width: 5%; padding-left: 2px; padding-right: 2px;">@Html.ActionLink("Components (" + Model.Components + ")", "Index", "Home", new { fmt = (ViewBag.Type == 8 ? 0 : 8) + ViewBag.Status + ViewBag.MyWatch }, new { @class = "btn btn-default " + (Convert.ToInt32(ViewBag.Type) == 8 ? "btn-border" : "") })</td>
        <td style="width: 5%; padding-left: 2px; padding-right: 2px;">@Html.ActionLink("Packaging (" + Model.Packaging + ")", "Index", "Home", new { fmt = (ViewBag.Type == 7 ? 0 : 7) + ViewBag.Status + ViewBag.MyWatch }, new { @class = "btn btn-default " + (Convert.ToInt32(ViewBag.Type) == 7 ? "btn-border" : "") })</td>
        <td style="width: 5%; padding-left: 2px; padding-right: 2px;">@Html.ActionLink("Resins (" + Model.Resin + ")", "Index", "Home", new { fmt = (ViewBag.Type == 5 ? 0 : 5) + ViewBag.Status + ViewBag.MyWatch }, new { @class = "btn btn-default " + (Convert.ToInt32(ViewBag.Type) == 5 ? "btn-border" : "") })</td>
        @if (ViewBag.EditPermission == true)
        {
            <td width="2%" style="text-align: center; color: antiquewhite;">|</td>
            <td style="width: 5%; padding-left: 2px; padding-right: 2px;">@Html.ActionLink("My Materials (" + Model.UserWatch + ")", "Index", "Home", new { fmt = (ViewBag.MyWatch == 100 ? 0 : 100) + (ViewBag.Status == 90 ? 0 : ViewBag.Status) + ViewBag.Type }, new { @class = "btn btn-info " + (Convert.ToInt32(ViewBag.MyWatch) == 100 ? "btn-border" : "") })</td>
            <td width="2%" style="text-align: center; color: antiquewhite;">|</td>
            <td style="width: 5%; padding-left: 2px; padding-right: 2px;">@Html.ActionLink("New Items (" + Model.NewItem + ")", "Index", "Home", new { fmt = (ViewBag.Status == 90 ? 0 : 90) }, new { @class = "btn btn-info " + (Convert.ToInt32(ViewBag.Status) == 90 ? "btn-border" : "") })</td>
        }
        <td width="2%" style="text-align: center; color: antiquewhite;">|</td>
        <td width="32%">
            @using (Html.BeginForm("Search", "Home", routeValues: new { pageid = ViewBag.PageID }, method: FormMethod.Post))
            {
                @Html.TextBoxFor(x => x.MatSearchString, new { @class = "form-control seventy", @placeholder = "Search..." })
                <input type="submit" value="Search" class="btn btn-primary" />
            }
        </td>
    </tr>
</table>

<br /><br />

@foreach (var material in Model.myMatList)
{
    <div id=@("MatHead" + material.ItemId) class="panel @material.FlagClass">
        <div class="panel-heading tallPanelHeading">
            <p style="text-align: left">
                @material.ItemNumber - @material.ItemDescription
                @if (ViewBag.EditPermission == true)
                {
                    <span style="float: right;">
                        @if (@material.LaunchRawItem)
                        {
                            <span style="text-align: center !important; margin-right: 35em !important; color: #000000 !important; font-size: larger !important;">
                                --- LAUNCH ---
                            </span>
                        }

                        @Html.ActionLink("Where Used", "InfoIndex", "Info", new { tblid = material.ListItemID, fmt = ViewBag.QueryString, info = 3, ViewBag.SearchString }, new { @class = "btn btn-info" })

                        @if (!ViewBag.SearchString.Equals(""))
                        {
                            @Html.ActionLink("Edit Item", "Index", "EditItem", new { tblid = material.ListItemID, searchstring = ViewBag.SearchString }, new { @class = "btn btn-info" })
                        }
                        else
                        {
                            @Html.ActionLink("Edit Item", "Index", "EditItem", new { tblid = material.ListItemID, fmt = ViewBag.QueryString }, new { @class = "btn btn-info" })
                        }

                        @if (!material.NewItem)
                        {
                            @Html.ActionLink("Edit Notes", "NotesIndex", "Notes", new { tblid = material.ListItemID, fmt = ViewBag.QueryString, ViewBag.SearchString }, new { @class = "btn btn-info" })
                        }
                    </span>
                }
            </p>
        </div>
        <div class="panel-body" style=@(!material.NewItem ? "display:block;" : "display:none;")>
            <div class="alert alert-danger" style=@((material.Flag == 20 || material.Flag == 30) ? "display:block;" : "display:none;")>@Html.Raw(material.WarningMessage)</div>
            <table id="infoheader" style="width: 95%; margin: auto" class="table table-striped table-bordered">
                <tr>
                    <td width="10%" style="background: #c4c4c4;">Current Inventory</td>
                    <td width="12%" style="background: #c4c4c4;">Planned Weekly Consumption</td>
                    <td width="10%" style="background: #c4c4c4;">Weeks left</td>
                    <td width="10%" style="background: #c4c4c4;">Order Frequency</td>
                    <td width="10%" style="background: #c4c4c4;">Release Quantity</td>
                    <td width="10%" style="background: #c4c4c4;">Minimum Inventory</td>
                    <td width="10%" style="background: #c4c4c4;">Lead Time</td>
                    <td width="11%" style="background: #c4c4c4;">Inventory Value</td>
                    <td width="17%" style="background: #c4c4c4;">Vendor</td>
                </tr>
                <tr>
                    <td style="text-align: right; padding-top: 5px; padding-bottom: 5px; font-weight: bold; background: #efefef;">
                        @Html.ActionLink(material.Inventory == 0 ? "0" : material.Inventory.ToString("#,###"), "InfoIndex", "Info", new { tblid = material.ListItemID, fmt = ViewBag.QueryString, info = 1, ViewBag.SearchString }, new { @class = "btn btn-nothing" })
                    </td>
                    <td style="text-align: right; padding-top: 12px; padding-bottom: 12px; font-weight: bold; background: #efefef;">
                        @Html.ActionLink(material.WeeklyUsage == 0 ? "NA" : material.WeeklyUsage.ToString("#,###"), "InfoIndex", "Info", new { tblid = material.ListItemID, fmt = ViewBag.QueryString, info = 2, ViewBag.SearchString }, new { @class = "btn btn-nothing" })
                        @if (!material.HoverInfo.Equals(""))
                        {
                            <div style="text-align: left;">
                                @Html.Raw(material.HoverInfo)
                            </div>
                        }
                    </td>
                    <td style="text-align: right; padding-top: 12px; padding-bottom: 12px; font-weight: bold; background: #efefef;">
                        @if (material.WeeksLeft == 0)
                        {
                            @Html.Raw("<h4><b>∞</b></h4>")
                        }
                        else
                        {
                            @(material.WeeksLeft.ToString("#,###.##"))
                        }
                    </td>
                    <td style="text-align: right; padding-top: 12px; padding-bottom: 12px; font-weight: bold; background: #efefef;">
                        @(material.OrderFrequency + " Weeks(s)")
                    </td>
                    <td style="text-align: right; padding-top: 12px; padding-bottom: 12px; font-weight: bold; background: #efefef;">
                        @material.ReleaseQty.ToString("#,###")
                    </td>
                    <td style="text-align: right; padding-top: 12px; padding-bottom: 12px; font-weight: bold; background: #efefef;">
                        @(material.CalcMinInventory == 0 ? "NA" : material.CalcMinInventory.ToString("#,###"))
                        @if (material.MinInv == 0)
                        {
                            <div style="text-align: left;">
                                @Html.Raw("Calculated")
                            </div>
                        }
                    </td>
                    <td style="text-align: right; padding-top: 12px; padding-bottom: 12px; font-weight: bold; background: #efefef;">
                        @(material.LeadTime + " Week(s)")
                    </td>
                    <td style="padding-top: 12px; padding-bottom: 12px; font-weight: bold; background: @(material.CurrentInventoryValue > material.MaxInventoryValue ? "#fff34c;" : "#efefef;") text-align: right;">
                        @material.CurrentInventoryValue.ToString("$#,##0.##")
                        <div style="text-align: left;">
                            @Html.Raw((material.CalculatedMaxInventoryValue ? "Calculated " : "") + "Max Inventory: " + material.MaxInventoryValue.ToString("$#,###.##"))
                        </div>
                    </td>
                    <td style="padding-top: 12px; padding-bottom: 12px; font-weight: bold; background: #efefef;">@material.Vendor</td>
                </tr>
            </table>
            @if (material.WeeklyUsage > 0)
            {
                <br />
                <table class="table" id="biginfoheader">
                    <tr>
                        <td width="5%" style="padding: 8px 5px; text-align: right; background: #c4c4c4;">Order By</td>
                        @foreach (var mydate in material.myDates)
                        {
                            <td style="padding: 8px 5px; background: @(mydate.OrderBy > DateTime.Today ? "#44ff51;" : "#fff34c;");  font-weight: bold;">@(@mydate.OrderBy > @DateTime.Today ? @mydate.OrderBy.ToShortDateString() : "Past")</td>
                        }
                    </tr>
                    <tr>
                        <td style="padding: 10px 5px; text-align: right; background: #d6d6d6;">Estimated Release</td>
                        @foreach (var mydate in material.myDates)
                        {
                            <td style="padding: 18px 5px; font-weight: bold; background: #efefef">@mydate.Estimated.ToShortDateString()</td>
                        }
                    </tr>
                    @if (material.HavePO)
                    {
                        <tr>
                            <td rowspan="2" style="padding: 22px 5px; text-align: right; background: #c4c4c4;">PO</td>
                            @foreach (var mydate in material.myDates)
                            {
                                <td style="background:@(mydate.PO.OrderNumber.Equals("") ? "#efefef;" : (mydate.PO.Date <= mydate.Estimated ? "#44ff51;" : (mydate.RunOutOfMaterial ? "#ff5656;" : "#fff34c;"))); font-weight: bold;">
                                    @(!mydate.PO.OrderNumber.Equals("") ? "#" + @mydate.PO.OrderNumber : "")
                                    @if (mydate.PO.PartBlanketPO)
                                    {
                                        <div style="text-align: left; font-weight: bold;">
                                            @Html.Raw("Part Of Blanket PO")
                                        </div>
                                    }
                                </td>
                            }
                        </tr>
                        <tr>
                            @foreach (var mydate in material.myDates)
                            {
                                <td style="background:@(mydate.PO.OrderNumber.Equals("") ? "#efefef;" : (mydate.PO.Date <= mydate.Estimated ? "#44ff51;" : (mydate.RunOutOfMaterial ? "#ff5656;" : "#fff34c;")))">
                                    @(!mydate.PO.OrderNumber.Equals("") ? @mydate.PO.Date.ToShortDateString() : "")
                                    @if (!mydate.PO.OrderNumber.Equals(""))
                                    {
                                        <div style="text-align: left; font-weight: bold;">
                                            @Html.Raw(mydate.PO.EstMaterialLeft)
                                        </div>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </table>
            }
            <br />
            @if (material.myNotes.Count > 0)
            {
                <div id=@("NotesDiv" + material.ItemId) class="panel panel-info">
                    <div class="panel-heading">Notes</div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-condensed">
                            @foreach (var mynote in material.myNotes)
                            {
                                <tr>
                                    <td style="width: 1%">@(mynote.Index + ").")</td>
                                    <td style="font-weight: bold; color: red;">@mynote.note</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
}

@Html.TextBoxFor(x => x.LowUsageAlertText, new { style = "display:none" })

<div class="modal fade" tabindex="-1" id="thermolatorClassModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <p style="text-align: left">
                    Low Usage Material Issues
                    <span style="float: right;">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                    </span>
                </p>

            </div>
            <div class="modal-body">
                @Html.Raw(Model.LowUsageAlertText)
            </div>
            <div class="modal-footer">
                @Html.ActionLink("See Issues", "Index", "home", new { fmt = 30 }, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
</div>

@*Search List for search box is stored here*@
<label id="hiddenTags" style="display: none;">@ViewBag.HiddenSearchTags</label>
@*added a few breaks at the bottom so popups of the last item don't fall of the screen*@
<br /><br /><br /><br /><br /><br />

@*------------------               JAVA             -----------------------*@
<script>
    $(function () {
        if (document.getElementById('LowUsageAlertText').value != "") {
            $("#thermolatorClassModal").modal('show');
        }
        else {
            $("#thermolatorClassModal").modal('hide');
        }
    });

    $(document).ready(function () {
        $("#btnHideModal").click(function () {
            $("#thermolatorClassModal").modal('hide');
        });
    });

    $(function () {
        var availableTags = document.getElementById("hiddenTags").innerHTML.split(",");
        $("#MatSearchString").autocomplete({
            source: function (request, response) {
                var results = $.ui.autocomplete.filter(availableTags, request.term);
                response(results.slice(0, 10));
            }
        });
    });
</script>


<style type="text/css">
    @@media {
        .container {
            max-width: inherit !important;
            max-width: 97% !important;
        }
    }

    @@media (min-width: 0px) {
        .container {
            width: auto !important;
        }
    }

    body {
        padding-top: 0px !important;
        font-size: 1.5em !important;
    }

    .table {
        margin-bottom: 0px !important;
    }

        .table > tbody > tr > td {
            border: none;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }

    .navbar-brand {
        color: #777 !important;
        font-size: 18px !important;
    }

    .tallPanelHeading {
        padding: 17px 5px !important;
    }

    [id$="infoheader"] td {
        position: relative;
    }

        [id$="infoheader"] td div {
            border: 1px solid #000000;
            border-radius: 5px;
            background-color: #e8e8e8;
            min-width: 185px;
            min-height: 25px;
            position: absolute;
            top: 34px;
            left: 20px;
            display: none;
            z-index: 100;
            padding: 5px;
        }

        [id$="infoheader"] td:hover div {
            display: block;
        }

    .panel {
        margin-bottom: 0px !important;
    }

    .btn-nothing {
        background-color: #efefef;
        border: none;
        font-weight: bold;
        font-size: 1.0em !important;
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    }

    .btn-default {
        margin-left: 0px;
        margin-right: 0px;
    }

    .btn-border {
        border: 2px solid #ffffff !important;
    }

    hr {
        margin-top: 3px !important;
        margin-bottom: 3px !important;
        border-color: black !important;
    }

    h8 {
        color: red !important;
    }

    h4 {
        font-size: 24px !important;
        line-height: 0.5 !important;
    }
</style>
